<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Euler</title>
</head>
<body>
    <div>
        <a href="">problems</a>
    </div>
    <h1>Interactive Euler</h1>
    <p> Welcome to Interactive Euler.  This website aims to help you keep track of the work you do as you complete problems from Project Euler.</p>
    <p> Please enter a problem number to get started: </p>
    <div>
        <input type="number" name="problem-number" id="problem-number" value="1">
        <input type="submit" name="get-problem" id="get-problem" value="Begin">
    </div>
    <div>
        <div id="url"></div>
        <div id="number"></div>
        <div id="name"></div>
        <div id="content"></div>
    </div>
    <div>
        <input type="text" name="answer" id="answer" value="Enter your answer here" style="visibility:hidden;">
        <input type="text" name="captcha" id="captcha" value="Enter image from captcha" style="visibility:hidden;">
        <input type="submit" value="submit" id="submit" style="visibility:hidden">
    </div>
    <div>
        <input type="text" name="username" id="username" value="Enter Project Euler username" style="visibility:hidden;">
        <input type="text" name="password" id="password" value="Enter Project Euler password" style="visibility:hidden;">
        <input type="submit" value="verify" id="verify" style="visibility:hidden">

    </div>
    <div>
        <div id="login-warning" style="visibility:hidden"></div>
        <div id="submission-message" style="visibility:hidden"></div>
    </div>
    <img id="captchaImg" src="">
    <div>
        <input type="text" id="code" value="# write your python 3.7 code here" style="height:400px;width:100%;">
        <input type="submit" value="process" id="process">
    </div>
    <script>
        var submitElement = document.getElementById('submit'),
            verifyElement = document.getElementById('verify'),
            answerElement = document.getElementById('answer'),
            usernameElement = document.getElementById('username'),
            passwordElement = document.getElementById('password'),
            captchaElement = document.getElementById('captcha'),
            captchaImgElement = document.getElementById('captchaImg'),
            loginWarningElement = document.getElementById('login-warning'),
            submissionMessageElement = document.getElementById('submission-message'),
            getProblemElement = document.getElementById('get-problem'),
            problemNumberElement = document.getElementById('problem-number');

        function get(endpoint, cb){
            var request = new XMLHttpRequest();
            request.open('GET', endpoint, true);
            request.onreadystatechange = function (){
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200){
                    try {
                        var data = JSON.parse(request.response);  // normally json data but captcha is in bytes
                    }
                    catch {
                        var data = request.response;
                    }
                    cb(data);
                }
            };
            request.send();
        }

        function post(endpoint, data, cb){
            var request = new XMLHttpRequest();
            request.open('POST', endpoint, true);
            request.setRequestHeader('Content-type', 'application/json');
            request.onreadystatechange = function () {
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200){
                    var data = JSON.parse(request.response);
                    cb(data);
                }
            };
            request.send(data);
        }

        function newCaptcha() {
            get('/captcha', function(data){
                captchaImgElement.setAttribute('src', 'data:image/png;base64,' + data);
                captchaElement.style.visibility = 'visible';
            });
        }

        function login() {
            loginWarningElement.style.visibility = 'hidden';

            login_input = JSON.stringify({'username': usernameElement.value, 'password': passwordElement.value, 'captcha': captchaElement.value})
            post('/login', login_input, function(data) {
                if (data.logged_in === false) {
                    loginWarningElement.innerText = data.message;
                    loginWarningElement.style.visibility = 'visible';
                } else {
                    usernameElement.style.visibility = 'hidden';
                    usernameElement.value = '';
                    passwordElement.style.visibility = 'hidden';
                    passwordElement.value = '';
                    verifyElement.style.visibility = 'hidden';
                    captchaElement.value = '';
                }
                newCaptcha();
            });
        }

        function submit() {
            submissionMessageElement.style.visibility = 'hidden';

            submission = JSON.stringify({'answer': answerElement.value, 'captcha': captchaElement.value});
            post('/problems/1', submission, function (data){
                if (data.status === false && data.message == 'login required') {
                    usernameElement.style.visibility = 'visible';
                    passwordElement.style.visibility = 'visible';
                    verifyElement.style.visibility = 'visible';
                } else if (data.status === false && data.message == 'The confirmation code you entered was not valid'){
                    submissionMessageElement.innerText = data.message;
                    submissionMessageElement.style.visibility = 'visible';
                    newCaptcha();
                } else if (data.status === false){
                    submissionMessageElement.innerText = data.message;
                    submissionMessageElement.style.visibility = 'visible';

                }
            });
        }

        function getProblem(){
            number = problemNumberElement.value;

            get('/problems/' + number, function(data){
            document.getElementById('url').innerHTML = data.problemUrl;
            document.getElementById('number').innerHTML = data.problemNumber;
            document.getElementById('name').innerHTML = data.problemName;
            document.getElementById('content').innerHTML = data.problemContent;
            answerElement.style.visibility = 'visible';
            submitElement.style.visibility = 'visible'; });
            newCaptcha();
        }

        // things to do when the page first loads

        submitElement.addEventListener('click', submit);
        verifyElement.addEventListener('click', login);
        answerElement.addEventListener('focus', function(){answerElement.value = '';});
        captchaElement.addEventListener('focus', function(){captchaElement.value = '';});
        usernameElement.addEventListener('focus', function(){usernameElement.value = '';});
        passwordElement.addEventListener('focus', function(){passwordElement.value = '';});
        problemNumberElement.addEventListener('focus', function(){problemNumberElement.value = '';});
        getProblemElement.addEventListener('click', getProblem);

    </script>
</body>
</html>
