<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
<ul>
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="https://projecteuler.net/register" target="_blank">Register</a></li>
    {% else %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
</ul>

<div id="content">{% block content %}{% endblock %}</div>
{% block scripts %}{% endblock %}
</body>
</html>
