<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Project Euler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style type="text/css" media="screen">
    #ace-editor {
        width: 100%;
    }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
</head>
<body>
    <ul>
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="https://projecteuler.net/register" target="_blank">Register</a></li>
        {% else %}
            <li><a href="{{ url_for('me') }}">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
    <h1>Interactive Project Euler</h1>
<h2>Track your progress as you complete problems from Project Euler</h2>
<p>Interactively solve Project Euler problems.  Run the code, submit the answer, and solve another problem.</p>
<p>All of your code is saved as well as the status of the Project Euler submission.</p>
<p>Project Euler registration is required for submissions to Project Euler.  You can play around in the meantime with the editor. </p>
<div class="demo">
    <div id="ace-editor">#!/usr/local/bin/python3
"""
Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

The value of the submit function will be calculated and returned!  Edit this file and solve the problem :)
"""


def submit():
    return 42
    </div>
    <div>
        <button id="run-me">Run</button>
        <div id="submission-text"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='post.js') }}"></script>
<script>
    // set up the ace editor
    var editor = ace.edit("ace-editor");
    editor.setTheme("ace/theme/katzenmilch");
    editor.session.setMode("ace/mode/python");
    editor.setOption("maxLines", 100);

    // set the event listener so that you can run the code
    var runMe = document.getElementById("run-me");

    // create the run function
    function run() {
        post("{{ url_for('run') }}", editor.getValue(), function(d){
            var submission = document.getElementById('submission-text');
            submission.innerText = JSON.stringify(d);
        });
    }
    // add the event listener
    runMe.addEventListener('click', run);


</script>
</body>
</html>