{% extends 'base.html' %}

{% block title %} Interactive Project Euler {% endblock %}

{% block style %}
<style type="text/css" media="screen">
    #ace-editor {
        width: 100%;
    }




</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
{% endblock %}

{% block content %}

{% if scratchpad.language == 'python' %}
{% set extension = '.py' %}
{% set filename = 'p_' ~ scratchpad.problem_id ~ extension %}
{% else %}

{% endif %}
<div id="top-menu">
    <ul>
        <li>New</li>
        <li>Run</li>
        <li>Submit</li>
        <li> {{ user.username }} </li>
    </ul>
</div>
<div id="side-problem-nav">
    <ul>
        <li> {{ filename }} </li>
    </ul>
</div>
<div id="top-problem-nav">
    <ul>
        <li> {{ filename }} </li>
    </ul>
</div>
<div id="problem-code"></div>
<div id="status"></div>
{% endblock %}

{% block scripts %}

{% endblock %}
